## Task Goal
* Be able to predict gender based on the provided attributes;
    * long_hair
    * forehead_width_cm
    * forehead_height_cm
    * nose_wide
    * nose_long
    * lips_thin
    * distance_nose_to_lip_long
    * gender

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('gender_classification_v7.csv')

In [3]:
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female